.main {
    /* background-image: url("../assets/banners.png"); */
    /* background: linear-gradient(#007991, #78FFD6); */
    /* background: linear-gradient(#BDC3C7, #2C3E50); */
    background: linear-gradient(#EE0979, #FF6A00);
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    padding: 2%;
    text-align: left;
    color: black;
    padding-left: 15%;

    /* Resize the background image to cover the entire container */
}
/*  */